<div class="topics-container">
  <div class="topic-card" *ngFor="let topic of topics">
    <mat-card>
      <mat-card-title>{{ topic.title }}</mat-card-title>
      <br>
      <p class="description"> Description : {{ topic.description }}</p>

      <!-- Other topic details here -->
      <div class="button-container">
      <button mat-flat-button color="primary" mat-button (click)="toggleSubscription(topic)">
        {{ topic.isSubscribed ? 'Unsubscribe' : 'Subscribe' }}
      </button>
      </div>
    </mat-card>
  </div>
</div>