<hr />
<mat-card-header>
  <h2>Commentaires</h2>
</mat-card-header>
<div class="comments-section">
  <mat-card class="card-comment" *ngFor="let comment of comments">
    <div class="comment-content">
      <mat-card-content class="comment-username"> {{ comment.author }}</mat-card-content>
      <mat-card-content class="comment-description"> {{ comment.description }}</mat-card-content>
    </div>
  </mat-card>
</div>


<div class="comment-form">
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <div class="form-content">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Add a comment:</mat-label>
        <textarea matInput formControlName="comment" id="comment" rows="4"></textarea>
      </mat-form-field>
      <button mat-button color="primary" type="submit" [disabled]="commentForm.invalid">
        <mat-icon>arrow_forward</mat-icon> 
      </button>
    </div>
  </form>
</div>