.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  img {
    max-width: 100%;
    /* Immagine si adatta alla larghezza del suo contenitore */
    height: auto;
    /* Per mantenere l'aspetto proporzionale */
    width: 412px;
    /* Larghezza massima per desktop */
    height: 238px;
    /* Altezza massima per desktop */
  }

  .button-container {
    display: flex; /* Imposta i bottoni come flessibili */
    justify-content: center; /* Allinea i bottoni al centro */
    margin-top: 20px; /* Aggiungi margine sopra i bottoni */

    .button {
      display: inline-block; /* Assicura che i bottoni siano visualizzati come blocchi */
      margin-bottom: 50px; /* Aggiungi spazio tra i bottoni */
    }

    button + button {
      margin-left: 50px;
    }
  }

  @media only screen and (max-width: 768px) {
    .button-container {
      flex-direction: column;
      /* Metti i bottoni in colonna */
      align-items: center;
      /* Allinea i bottoni al centro */

      .button {
        display: block;
        /* Rendi i bottoni un blocco */
        margin-bottom: 10px;
        /* Aggiungi spazio tra i bottoni */
      }

      button + button {
        margin-left: 0px;
        margin-top: 30px;
      }

    }

    img {
      width: 225px;
      /* Larghezza massima per dispositivi mobili */
      height: 130px;
      /* Altezza massima per dispositivi mobili */
    }
  }
}