<app-header-nav></app-header-nav>
<mat-card *ngIf="post">
  <div class="title-container">
   
    <mat-card-title> <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>{{ post.title }}</mat-card-title>
  </div>
  <div class="post-details">
    <mat-card-content>Date: {{ post.createdAt | date }}</mat-card-content>
    <mat-card-content>Author: {{ post.authors }}</mat-card-content>
    <mat-card-content>Topic: {{ post.topics }}</mat-card-content>
  </div>
  <mat-card-content>{{ post.description }}</mat-card-content>
</mat-card>

<mat-card-content>
  <app-comment></app-comment>
</mat-card-content>